<button (click)="initNewInvoice()" >Create Invoice</button>



<table>
  <thead>
    <th>date</th>
    <th>Statuses</th>
    <th>Amount</th>
    <th></th>

  </thead>
  <tbody>
    <tr *ngFor= "let invoice of invoices">
      <td>{{invoice.date}}</td>
      <td>{{invoice.statuses}}</td>
      <td>{{invoice.amount}}</td>
      <td><button (click) = "editInvoice(invoice)">Edit</button></td>
    </tr>
</table>

<app-edit-invoices [invoice]="invoiceToEdit" (invoiceUpdated) = "updateInvoiceList($event)"></app-edit-invoices>